<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/main.css"/>
    <meta charset="UTF-8">
    <title>Редактирование товаров</title>
</head>
<body>
<h2>Редактировать товар:</h2>

<form th:method="PATCH" th:action="@{/update/{id}(id=${product.getId()})}" th:object="${product}">

    <input type="text" th:field="*{name}" id="name" name="name" placeholder="Артикул"/>
    <br/>
    <input type="text" th:field="*{article}" id="article" name="article" placeholder="Артикул"/>
    <br/>
    <input type="text" th:field="*{bar}" id="bar" name="bar" placeholder="Штрихкод"/>
    <select name="unit" required="required">
        <option value="">Ед. измерения</option>
        <option th:selected="${product.unit=='шт'}" th:value="шт" th:text="шт"></option>
        <option th:selected="${product.unit=='кг'}" th:value="кг" th:text="кг"></option>
        <option th:selected="${product.unit=='г'}" th:value="г" th:text="г"></option>
        <!--        <option value="кг">кг</option>-->
        <!--        <option value="шт">шт</option>-->
        <!--        <option value="г">г</option>-->
    </select>
    <br/>
    <br/>
    <input type="text" th:field="*{price}" id="price" name="price" placeholder="Цена"/>
    <br>

    <input class="update" type="submit"/>
</form>


</body>
</html>