<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/main.css"/>
    <meta charset="UTF-8">
    <title>Список продуктов</title>
</head>
<body>
<h2>Список продуктов:</h2>
<table>
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.getName}"/>
        <td th:text="${product.getPrice}"/>
        <td>
            <form class="hidden-form" th:method="PATCH" th:action="@{/edit/{id}(id=${product.getId()})}">
                <input class="submit" type="submit" value="Изменить"/>
            </form>
            <!--            <a th:href="@{'/edit/' + ${product.getId()}}">Изменить</a>-->
        </td>
        <td>
            <form class="hidden-form" th:method="DELETE" th:action="@{/delete/{id}(id=${product.getId()})}">
                <input class="submit" type="submit" value="Удалить"/>
            </form>
            <!--            <a th:href="@{'/delete/' + ${product.getId()}}">Удалить</a>-->
        </td>
    </tr>
    </tbody>
</table>
<hr/>
<a href="/add">Добавить продукт</a>
</body>
</html>